footer {
    .footer {
        @include lineGradient ('T', 0deg, $bgColor-style2, white);
        display: flex;
        align-items: center;
        justify-content: center;
        h6 {
            display: block;
            padding: 30px 15px;
        }
    }
    position: relative;
    .footer1{
        @include lineGradient ('T', 0deg, $bgColor-style2, white);
        position: fixed;
        bottom: 0;
        width: 100%;
        align-items: center;
        text-align: center;
        h6 {
            display: inline-block;
            padding: 30px 15px;
        }
    }
}

@include rwd(md_cellphone) {
    footer {
        .footer {
            .footer_icon {
                width: 100px;
                height: 60px;
            }
            h2 {
                font-size: 16px;
            }
        }
        .footer1{
            .footer_icon {
                width: 100px;
                height: 60px;
            }
            h2 {
                font-size: 16px;
            }
        }
    }
}