body{
    .slimScrollBar{
        background-color: rgba(255, 255, 255,0)!important;
    }
}

.slimScrollDiv{
    height: auto!important;
    .fp-scrollable{
        height: auto!important;
    }
}

.chu_header {
    height: 0;
    position: fixed;
    z-index: 30;
    // section{
    //     background-color: rgba(255, 255, 255,0.75);
    // }
}

.chu_footer {
    display: none;
}

section.first_screen {
    border: 1px solid black;
    overflow: hidden;
    height: 100vh;
    position: relative;
    // background-image: url(../image/home/first_screen_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .circle_orange {
        @include circle_bigOrange;
        bottom: 23%;
        right: -15%;
    }
    p.titlewords {
        font-size: 48px;
        color: white;
        position: absolute;
        top: 25%;
        right: 20%;
        font-weight: 800;
        // @media all and (min-width: 1600px) and (max-width: 1920px) {
        //     right: 20%;
        // }
        // @media all and (min-width: 1440px) and (max-width: 1599px) {
        //     right: 20%;
        // }
        // @media all and (min-width: 1200px) and (max-width: 1439px) {
        //     right: 20%;
        // }
        @media all and (min-width: 992px) and (max-width: 1199px) {
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            right: 25%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            right: 20%;
        }
        @media all and (max-width: 575px) {
            bottom: 23%;
            right: 50%;
            transform: translateX(50%);
            white-space: nowrap;
        }
    }
    .circle_fuchsia {
        @include circle(630px, #B71E68);
        opacity: 0.85;
        position: absolute;
        top: 20%;
        left: 25%;
        @media all and (min-width: 1600px) and (max-width: 1920px) {
            left: 21%;
        }
        @media all and (min-width: 1440px) and (max-width: 1599px) {
            left: 15%;
            @media all and (max-height:810px) {
                @include circle(600px, #B71E68);
            }
        }
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            @include circle(550px, #B71E68);
            left: 16%;
            top: 30%;
            @media all and (max-height: 600px) {
                @include circle(430px, #B71E68);
                top: 22%;
                left: 23%;
            }
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            @include circle(500px, #B71E68);
            left: 15%;
            top: 33%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include circle(400px, #B71E68);
            left: 8%;
            top: 41%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            @include circle(400px, #B71E68);
            left: 5%;
            top: 43%;
        }
        @media all and (min-width: 430px) and (max-width: 575px) {
            @include circle(350px, #B71E68);
            left: 1%;
            top: 43%;
        }
        @media all and (max-width: 429px) {
            @include circle(350px, #B71E68);
            left: 1%;
            top: 43%;
        }
        p {
            font-size: 1.5*$fontSize;
            color: white;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            line-height: 28px;
        }
    }
    .circle_purple {
        @include circle(400px, #5A1D81);
        opacity: 0.85;
        position: absolute;
        top: 55%;
        right: 30%;
        z-index: -1;
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            top: 50%;
            right: 30%;
            // top: 30%;
            // right: 40%;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            @include circle(340px, #5A1D81);
            top: 60%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            @include circle(300px, #5A1D81);
            top: 50%;
            right: 25%;
        }
        @media all and (max-width: 575px) {
            top: 60%;
            right: 0;
        }
    }
    .circle_food_cake {
        background-image: url(../image/home/first_screen_friends_food1.svg);
        width: 78px;
        height: 78px;
        position: absolute;
        // top: 13%;
        left: 20%;
        animation: moveFood_cake 2.5s linear infinite;
        @keyframes moveFood_cake {
            0% {
                top: 13%;
            }
            50% {
                top: 15%;
            }
            100% {
                top: 13%;
            }
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            top: 20%;
            left: 18%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 26%;
            left: 17%;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
    .circle_food_noodles {
        background-image: url(../image/home/first_screen_friends_food2.svg);
        width: 100px;
        height: 100px;
        position: absolute;
        top: 23%;
        left: 10%;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            left: 23%;
            top: 29%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            top: 36%;
            left: 76%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 33%;
            left: 58%;
        }
        @media all and (max-width: 575px) {
            top: 13%;
            left: 60%;
            width: 80px;
            height: 80px;
        }
    }
    .circle_food_icecream {
        background-image: url(../image/home/first_screen_friends_food3.svg);
        width: 80px;
        height: 80px;
        position: absolute;
        top: 45%;
        left: 6%;
        animation: moveFood_icecream 2.5s linear infinite;
        @keyframes moveFood_icecream {
            0% {
                top: 45%;
            }
            50% {
                top: 48%;
            }
            100% {
                top: 45%;
            }
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 86%;
            left: 8%;
        }
        @media all and (max-width: 575px) {
            top: 20%;
        }
    }
    .circle_food_curry {
        background-image: url(../image/home/first_screen_friends_food4.svg);
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 8%;
        left: 60%;
        animation: moveFood_curry 2.5s linear infinite;
        @keyframes moveFood_curry {
            0% {
                bottom: 8%;
            }
            50% {
                bottom: 10%;
            }
            100% {
                bottom: 8%;
            }
        }
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            left: 60%;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            bottom: 35%;
            left: 60%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            bottom: 2%;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
    .circle_food_steak {
        background-image: url(../image/home/first_screen_friends_food5.svg);
        width: 124px;
        height: 124px;
        position: absolute;
        bottom: 16%;
        right: 17%;
        animation: moveFood_steak 3s linear infinite;
        @keyframes moveFood_steak {
            0% {
                bottom: 16%;
            }
            50% {
                bottom: 13%;
            }
            100% {
                bottom: 16%;
            }
        }
        @media all and (min-width: 1600px) and (max-width: 1920px) {
            bottom: 12%;
        }
        @media all and (min-width: 1440px) and (max-width: 1599px) {
            bottom: 10%;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            bottom: 2%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            bottom: 19%;
            right: 80%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            bottom: 3%;
            right: 45%;
        }
    }
    .circle_food_breakfast {
        background-image: url(../image/home/first_screen_friends_food6.svg);
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
    .friends {
        background-image: url(../image/home/first_screen_friends.svg);
        width: 432px;
        height: 432px;
        position: absolute;
        bottom: 3%;
        left: 5%;
        background-position: center center;
        @media all and (min-width: 1600px) and (max-width: 1920px) {
            width: 332px;
            height: 332px;
        }
        @media all and (min-width: 1440px) and (max-width: 1599px) {
            width: 250px;
            height: 250px;
        }
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            width: 250px;
            height: 250px;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            width: 250px;
            height: 250px;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            display: none;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
}

section.second_screen {
    border: 1px solid black;
    overflow: hidden;
    height: 100vh;
    position: relative;
    // background-image: url(../image/home/second_screen_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h2 {
        color: white;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        font-weight: 800;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            top: 14%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            top: 13%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 11%;
        }
        @media all and (max-width: 575px) {
            top: 13%;
        }
        @media all and (max-height: 800px) {
            top: 15%;
        }
    }
    h4.restaurant {
        color: white;
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        white-space: nowrap;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            top: 19%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            top: 18%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 16%;
        }
        @media all and (max-width: 575px) {
            top: 18%;
        }
        @media all and (max-height: 800px) {
            top: 20%;
        }
    }
    .circle_orange {
        @include circle_bigOrange;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        .container {
            width: 90%;
            margin-top: 80px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                width: 75%;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                width: 70%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                width: 65%;
            }
            @media all and (max-width: 575px) {
                width: 60%;
            }
            .store:nth-child(2n+1) {
                transform: translateY(1050px);
                width: 15%;
                filter: brightness(30%);
                @media all and (min-width: 1200px) and (max-width: 1439px) {
                    transform: translateY(1160px);
                }
                @media all and (min-width: 768px) and (max-width: 991px) {
                    transform: translateY(1110px);
                }
                a {
                    width: 100%;
                    img {
                        width: 100%;
                        display: inline-block;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
                h4 {
                    background-color: black;
                    padding: 10px 20px;
                    border-radius: 5px;
                    white-space: nowrap;
                    color: white;
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
            .store:nth-child(2n) {
                transform: translateY(1150px);
                width: 25%;
                filter: brightness(30%);
                @media all and (min-width: 1200px) and (max-width: 1439px) {
                    transform: translateY(1230px);
                }
                @media all and (min-width: 768px) and (max-width: 991px) {
                    transform: translateY(1185px);
                }
                @media all and (min-width: 576px) and (max-width: 767px) {
                    transform: translateY(1215px);
                }
                @media all and (max-width: 575px) {
                    transform: translateY(1140px);
                }
                a {
                    width: 100%;
                    img {
                        width: 100%;
                        display: inline-block;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
                h4 {
                    background-color: black;
                    padding: 10px 20px;
                    border-radius: 5px;
                    white-space: nowrap;
                    color: white;
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
            .store:nth-child(3) {
                transform: translateY(1250px);
                width: 35%;
                filter: brightness(100%);
                // border: 5px solid #9B1E23;
                border-radius: 50%;
                @media all and (min-width: 1200px) and (max-width: 1439px) {
                    transform: translateY(1315px);
                }
                @media all and (max-width: 575px) {
                    transform: translateY(1210px);
                }
                a {
                    width: 100%;
                    img {
                        width: 100%;
                        display: inline-block;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
                h4 {
                    background-color: black;
                    padding: 10px 20px;
                    border-radius: 5px;
                    white-space: nowrap;
                    background-color: black;
                    padding: 10px 20px;
                    border-radius: 5px;
                    white-space: nowrap;
                    color: white;
                    position: absolute;
                    top: 25%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
        }
        button#Larrow {
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: -2%;
            left: 30%;
            outline: none;
            background-color: transparent;
            // color: white;
            border: none;
            cursor: pointer;
            z-index: 1000;
            @media all and (min-width: 1440px) and (max-width: 1599px) {
                left: 31%;
            }
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                left: 35%;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                left: 35%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                bottom: -1%;
            }
            @media all and (max-width: 575px) {
                left: 37%;
                bottom: 3%;
            }
        }
        button#Rarrow {
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: -2%;
            right: 30%;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            z-index: 1000;
            // color: white;
            // border-radius: 10px;
            @media all and (min-width: 1440px) and (max-width: 1599px) {
                right: 31%;
            }
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                right: 35%;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                right: 35%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                bottom: -1%;
            }
            @media all and (max-width: 575px) {
                right: 37%;
                bottom: 3%;
            }
        }
    }
    .fourTeam {
        .team_1 {
            @include circle(225px, #76AFAF);
            position: absolute;
            left: 14%;
            bottom: 23%;
            z-index: 2;
            &:hover {
                transform: scale(1.1);
                background-color:#ade8e8;
                transition: 0.5s;
                border: 0.5px solid black;
            }
            @media all and (min-width: 1600px) and (max-width: 1920px) {
                left: 13%;
            }
            @media all and (min-width: 1440px) and (max-width: 1599px) {
                left: 7%;
            }
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                left: 4%;
                bottom: 23%;
            }
            @media all and (min-width: 992px) and (max-width: 1199px) {
                left: 2%;
                bottom: 5%;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                left: 3%;
                bottom: 22%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                left: 5%;
                bottom: 26%;
                z-index: 2;
            }
            @media all and (max-width: 575px) {
                @include circle(180px, #76AFAF);
                left: 1%;
                bottom: 26%;
            }
            .content {
                position: absolute;
                left: 50%;
                transform: translateX(-35%);
                top: 25%;
                p {
                    font-size: $fontSize;
                    white-space: nowrap;
                    line-height: 1.5;
                    @media all and (max-width: 575px) {
                        font-size: 0.8*$fontSize;
                    }
                }
            }
        }
        .team_2 {
            @include circle(225px, #601C8A);
            position: absolute;
            left: 31%;
            bottom: 4%;
            z-index: 2;
            &:hover {
                transform: scale(1.1);
                background-color:#dcaafb;
                transition: 0.5s;
                border: 0.5px solid black;
            }
            @media all and (min-width: 1600px) and (max-width: 1920px) {
                left: 30%;
                bottom: 2%;
            }
            @media all and (min-width: 1440px) and (max-width: 1599px) {
                left: 28%;
                bottom: 1%;
            }
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                left: 23%;
                bottom: 2%;
            }
            @media all and (min-width: 992px) and (max-width: 1199px) {
                left: 26.5%;
                bottom: 1%;
                z-index: 2;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                left: 19.5%;
                bottom: 1%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                left: 5%;
                bottom: 1%;
            }
            @media all and (max-width: 575px) {
                @include circle(180px, #601C8A);
                left: 1%;
                bottom: 1%;
            }
            .content {
                position: absolute;
                left: 50%;
                transform: translateX(-35%);
                top: 25%;
                p {
                    font-size: $fontSize;
                    white-space: nowrap;
                    line-height: 1.5;
                    @media all and (max-width: 575px) {
                        font-size: 0.8*$fontSize;
                    }
                }
            }
            button {
                // padding: 5px 14px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 15%;
                // border-radius: 8px;
                @media all and (max-width: 575px) {
                    bottom: 8%;
                }
            }
        }
        .team_3 {
            @include circle(225px, #F4EFDF);
            position: absolute;
            right: 31%;
            bottom: 4%;
            z-index: 1;
            &:hover {
                transform: scale(1.1);
                background-color:#f5e8bd;
                transition: 0.5s;
                border: 0.5px solid black;
            }
            @media all and (min-width: 1600px) and (max-width: 1920px) {
                bottom: 1%;
            }
            @media all and (min-width: 1440px) and (max-width: 1599px) {
                right: 28%;
                bottom: 1%;
            }
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                right: 23%;
                bottom: 2%;
            }
            @media all and (min-width: 992px) and (max-width: 1199px) {
                bottom: 5%;
                right: 26.5%;
                z-index: 2;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                right: 19.5%;
                bottom: 1%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                right: 5%;
                bottom: 26%;
                z-index: 2;
            }
            @media all and (max-width: 575px) {
                @include circle(180px, #F4EFDF);
                right: 1%;
                bottom: 26%;
            }
            .content {
                position: absolute;
                left: 50%;
                transform: translateX(-35%);
                top: 25%;
                p {
                    font-size: $fontSize;
                    white-space: nowrap;
                    line-height: 1.5;
                    @media all and (max-width: 575px) {
                        font-size: 0.8*$fontSize;
                    }
                }
            }
            button {
                // padding: 5px 14px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 15%;
                // border-radius: 8px;
                @media all and (max-width: 575px) {
                    bottom: 8%;
                }
            }
        }
        .team_4 {
            @include circle(225px, #B71E68);
            position: absolute;
            right: 14%;
            bottom: 23%;
            z-index: 1;
            &:hover {
                transform: scale(1.1);
                background-color:#ffcce5;
                transition: 0.5s;
                border: 0.5px solid black;
            }
            @media all and (min-width: 1600px) and (max-width: 1920px) {
                bottom: 23%;
            }
            @media all and (min-width: 1440px) and (max-width: 1599px) {
                right: 7%;
                bottom: 23%;
            }
            @media all and (min-width: 1200px) and (max-width: 1439px) {
                bottom: 23%;
                right: 4%;
            }
            @media all and (min-width: 992px) and (max-width: 1199px) {
                bottom: 1%;
                right: 2%;
            }
            @media all and (min-width: 768px) and (max-width: 991px) {
                right: 3%;
                bottom: 22%;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                right: 5%;
                bottom: 1%;
            }
            @media all and (max-width: 575px) {
                @include circle(180px, #B71E68);
                right: 1%;
                bottom: 1%;
            }
            .content {
                position: absolute;
                left: 50%;
                transform: translateX(-35%);
                top: 25%;
                p {
                    font-size: $fontSize;
                    white-space: nowrap;
                    line-height: 1.5;
                    @media all and (max-width: 575px) {
                        font-size: 0.8*$fontSize;
                    }
                }
            }
            button {
                // padding: 5px 14px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 15%;
                // border-radius: 8px;
                @media all and (max-width: 575px) {
                    bottom: 8%;
                }
            }
        }






        .den_box3 {
            @include light-box-setting(90%, auto, absolute);
            display: none;
            background-color: rgba(255, 255, 255, 1);
            z-index: 2000;
            position: fixed;
            overflow: auto;
            padding: 20px;
            border-radius: 10px;
            .leave_btn {
                position: relative;
                right: -90%;
                width: 50px;
                height: 50px;
                z-index: 99;
                cursor: pointer;
                .line1 {
                    width: 80%;
                    height: 8%;
                    background-color: black;
                    transform: translate(0%, 550%) rotate(45deg);
                    margin: auto;
                }
                .line2 {
                    width: 80%;
                    height: 8%;
                    background-color: black;
                    transform: translate(0%, 450%) rotate(-45deg);
                    margin: auto;
                }
            }
            .den_box3_row {
                display: flex;
                align-items: center;
                position: relative;
                .box3_row_left {
                    flex: 1 1 50%;
                    text-align: center;
                    .main_img {
                        padding: 10px;
                        img {
                            width: 100%;
                            height: 80%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                    >img {
                        cursor: pointer;
                        width: 23%;
                        height: 100px;
                        display: inline-block;
                        padding: 3px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .box3_row_right {
                    flex: 1 1 50%;
                    padding-left: 20px;
                    max-height: 500px;
                    overflow: auto;
                    >div {
                        padding: 10px 10px;
                        margin: 10px 0px;
                        background-color: rgba(204, 204, 204, .5);
                        border-radius: 10px;
                        .collection {
                            display: inline-block;
                            img {
                                width: 50px;
                                height: 50px;
                            }
                            span {
                                font-size: 24px;
                            }
                        }
                        h3 {
                            display: inline-block;
                            // border: 1px solid;
                            // border: 1px solid blue;
                            padding: 5px;
                        }
                        h4 {
                            display: inline-block;
                            padding: 5px;
                        }
                        h6 {
                            display: inline-block;
                            margin: 12px;
                            padding: 5px 10px;
                            font-size: 14px;
                            background-color: #FFE1A4;
                            border: 0.1px solid;
                            border-radius: 8px;
                            width: 70px;
                            text-align: center;
                        }
                        .den_groupPeople {
                            background-color: rgba(255, 255, 255, .0);
                            margin: 5px 0px;
                            padding: 0;
                            h3 {
                                vertical-align: bottom;
                            }
                            p {
                                display: inline-block;
                                // margin: 5px;
                                padding: 5px 4px;
                                font-size: 14px;
                                background-color: #FFE1A4;
                                border: 0.1px solid;
                                border-radius: 8px;
                                width: 70px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .denAllButton3 {
                position: relative;
                text-align: center;
                // left: 50%;
                // width: 80%;
                // bottom: 60px;
                // transform: translateX(-50%);
                // text-align: right;
                // padding: 15px;
                .den_box3_button {
                    text-align: center;
                    width: 40%;
                    // border: 1px solid;
                    display: inline-block;
                    margin-top: 15px;
                    button {
                        @include btnBrown_6;
                        width: 150px;
                        // border-radius: 15px 15px!important;
                    }
                }
                .box_button_close {
                    display: none;
                    text-align: center;
                    width: 40%;
                    // border: 1px solid;
                    // display: inline-block;
                    margin-top: 15px;
                    button {
                        @include btnBlue_3;
                        width: 150px;
                    }
                }
            }
        }
        
        
        












        button {
            // padding: 5px 14px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15%;
            // border-radius: 8px;
            // @include btnBrown_5;
            @media all and (max-width: 575px) {
                bottom: 8%;
            }
        }
    }

    .twoPeople {
        background-image: url(../image/home/second_screen_twoPeople.svg);
        width: 380px;
        height: 380px;
        position: absolute;
        bottom: -5%;
        left: 0%;
        background-repeat: no-repeat;
        z-index: -2;
        opacity: 30%;
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            width: 250px;
            height: 250px;
            left: 1%;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            display: none;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            display: none;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
    
    .friends {
        background-image: url(../image/home/second_screen_friends.svg);
        width: 420px;
        height: 237px;
        position: absolute;
        bottom: 3%;
        right: 5%;
        background-repeat: no-repeat;
        z-index: -100;
        opacity: 30%;
        @media all and (min-width: 1600px) and (max-width: 1920px) {
            width: 320px;
            bottom: -2%;
        }
        @media all and (min-width: 1440px) and (max-width: 1599px) {
            width: 308px;
            bottom: -6%;
        }
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            width: 250px;
            right: 2%;
            bottom: -10%;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            display: none;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            display: none;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }

}


section.third_screen {
    border: 1px solid black;
    overflow: hidden;
    height: 100vh;
    position: relative;
    // background-image: url(../image/home/third_screen_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .circle_orange {
        @include circle_bigOrange;
        top: -45%;
        left: -29%;
        z-index: -100;
    }
    h2 {
        color: white;
        position: absolute;
        top: 18%;
        left: 8%;
        z-index: 2;
        font-weight: 800;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            left: 5%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            top: 14%;
            left: 11%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 11%;
            left: 50%;
            transform: translateX(-50%);
        }
        @media all and (max-width: 575px) {
            top: 13%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    h4 {
        color: white;
        position: absolute;
        top: 23%;
        left: 8%;
        z-index: 2;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            left: 5%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            top: 19%;
            left: 12%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 16%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
        @media all and (max-width: 575px) {
            top: 18%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
    }
    .useCellPhone {
        background-image: url(../image/home/third_screen_useCellPhone.svg);
        width: 431px;
        height: 50%;
        position: absolute;
        bottom: 2%;
        left: 6%;
        background-repeat: no-repeat;
        @media all and (min-width: 1440px) and (max-width: 1599px) {
            width: 350px;
        }
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            width: 300px;
            bottom: 5%;
        }
        @media all and (min-width: 992px) and (max-width: 1199px) {
            width: 250px;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            display: none;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
    .friends {
        background-image: url(../image/home/third_screen_friends.svg);
        width: 461px;
        height: 273px;
        position: absolute;
        top: 14%;
        right: 5%;
        background-repeat: no-repeat;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            width: 300px;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            width: 300px;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
    .video {
        width: 55%;
        height: 60vh;
        background-color: rgba(255, 255, 255,0);
        position: absolute;
        top: 25%;
        right: 10%;
        @media all and (min-width: 992px) and (max-width: 1199px) {
            right: 6%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            width: 85%;
            right: 50%;
            transform: translateX(50%);
        }
        @media all and (max-width: 575px) {
            width: 80%;
        }
        .fb_iframe_widget iframe {
            top: -90%;
            @media all and (min-width: 768px) and (max-width: 991px) {
                left: 74%;            
            }
    
            @media all and (min-width: 576px) and (max-width: 767px) {
    
            }
    
            @media all and (max-width: 575px) {
    
            }
        }
        button {
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translateX(-50%);
            @media all and (max-height: 600px) {
                bottom: -20%;
            }
        }
    }
}

section.fourth_screen {
    border: 1px solid black;
    overflow: hidden;
    height: 100vh;
    position: relative;
    // background-image: url(../image/home/fourth_screen_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .fourth_screen_circle_orange {
        @include circle_bigOrange;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -99;
    }
    h2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 18%;
        font-weight: 800;
        @media all and (min-width: 576px) and (max-width: 767px) {
            left: 12%;
            transform: translateX(0);
        }
    }
    h4 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 23%;
        @media all and (min-width: 576px) and (max-width: 767px) {
            left: 12%;
            transform: translateX(0);
        }
    }
    .fourth_screen_friends {
        background-image: url(../image/home/fourth_screen_friends.svg);
        background-repeat: no-repeat;
        background-size: contain;
        // top: 50%;
        // left: 50%;
        // transform: translateX(-50%);
        z-index: -98;
        width: 35%;
        height: 35%;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        @media all and (min-width: 992px) and (max-width: 1199px) {
            bottom: -4%;
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            bottom: -5%;
        }
        @media all and (min-width: 576px) and (max-width: 767px) {
            display: none;
        }
        @media all and (max-width: 575px) {
            display: none;
        }
    }
    .chu_container {
        max-width: 1680px;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid red;
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translateX(-50%);
        @media all and (min-width: 576px) and (max-width: 767px) {
            top: 14%;
        }
        @media all and (max-width: 575px) {
            top: 21%;
        }
        .chu_row1 {
            display: flex;
            // border: 3px solid green;
            justify-content: space-around;
            // height: 40vh;
            position: relative;
            transform: translateY(100px);
            * {
                color: white;
            }
            @media all and (min-width: 576px) and (max-width: 767px) {
                top: 8%;
                flex-direction: column;
            }
            @media all and (max-width: 575px) {
                top: 10%;
                flex-direction: column;
            }
            .chu_left {
                position: relative;
                // top: 40%;
                top: 8%;
                border-radius: 50%;
                // border: 1px solid blue;
                background-color: #B71E68;
                width: 260px;
                height: 260px;
                padding: 15px;
                &:hover {
                    transform: scale(1.1);
                    background-color:#ffcce5;
                    transition: 0.5s;
                    border: 0.5px solid black;
                }
                &:hover .chu_left_content{
                    color: black;
                }
                &:hover span{
                    color: black;
                }
                &:hover p{
                    color: black;
                }
                @media all and (min-width: 576px) and (max-width: 767px) {
                    margin: auto;
                    left: 25%;
                    top: 25%;
                }
                @media all and (max-width: 575px) {
                    margin: auto;
                    width: 230px;
                    height: 230px;
                    top: 20%;
                    margin-bottom: 20px;
                }
                .chu_left_icon1 {
                    margin-top: 15px;
                    @media all and (max-width: 575px) {
                        margin-top: 0;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .chu_left_content {
                    padding: 30px 0px;
                    font-size: $fontSize;
                    text-align: center;
                    transform: translateY(-22px);
                    img {
                        width: 40px;
                        height: 40px;
                        transform: translateY(10px);
                    }
                }
                span {
                    font-size: $fontSize*1.5;
                    text-align: center;
                    display: block;
                    transform: translateY(-18px);
                    @media all and (max-width: 575px) {
                        font-size: $fontSize;
                    }
                }
                .chu_left_icon2 {
                    text-align: right;
                    margin-top: 5px;
                    @media all and (max-width: 575px) {
                        margin-top: -20px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .chu_left_icon3 {
                    display: inline-block;
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    img {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                    p {
                        font-size: 16px;
                        // color: black;
                        transform: translateY(-15px);
                        display: inline-block;
                    }
                }
            }
            .chu_center {
                position: relative;
                top: 8%;
                border-radius: 50%;
                width: 260px;
                height: 260px;
                padding: 15px;
                background-color: #76AFAF;
                &:hover {
                    transform: scale(1.1);
                    background-color:#ade8e8;
                    transition: 0.5s;
                    border: 0.5px solid black;
                }
                &:hover .chu_left_content{
                    color: black;
                }
                &:hover span{
                    color: black;
                }
                &:hover p{
                    color: black;
                }
                @media all and (min-width: 576px) and (max-width: 767px) {
                    margin: auto;
                    top: 27%;
                    right: 25%;
                }
                @media all and (max-width: 575px) {
                    margin: auto;
                    top: 43%;
                    width: 230px;
                    height: 230px;
                }
                // border: 1px solid blue;
                // flex: 0 1;
                .chu_center_icon1 {
                    margin-top: 15px;
                    @media all and (max-width: 575px) {
                        margin-top: 0;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .chu_center_content {
                    padding: 30px 0px;
                    font-size: $fontSize;
                    text-align: center;
                    transform: translateY(-22px);
                    img {
                        width: 40px;
                        height: 40px;
                        transform: translateY(10px);
                    }
                }
                span {
                    font-size: $fontSize*1.5;
                    text-align: center;
                    display: block;
                    transform: translateY(-18px);
                    @media all and (max-width: 575px) {
                        font-size: $fontSize;
                    }
                }
                .chu_center_icon2 {
                    text-align: right;
                    margin-top: 5px;
                    @media all and (max-width: 575px) {
                        margin-top: -20px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .chu_center_icon3 {
                    display: inline-block;
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    img {
                        width: 40px;
                        height: 40px;
                    }
                    p {
                        font-size: 16px;
                        // color: black;
                        transform: translateY(-15px);
                        display: inline-block;
                    }
                }
            }
            // .chu_right {
            //     position: relative;
            //     top: 40%;
            //     border-radius: 50%;
            //     width: 260px;
            //     height: 260px;
            //     padding: 15px;
            //     background-color: #B71E68;
            //     @media all and (min-width: 576px) and (max-width: 767px) {
            //         margin: auto;
            //         left: 25%;
            //     }
            //     @media all and (max-width: 575px) {
            //         margin: auto;
            //         width: 200px;
            //         height: 200px;
            //         transform: translateY(10%);
            //     }
            //     // border: 1px solid blue;
            //     // flex: 0 1;
            //     .chu_right_icon1 {
            //         margin-top: 15px;
            //         @media all and (max-width: 575px) {
            //             margin-top: 0;
            //         }
            //         img {
            //             width: 40px;
            //             height: 40px;
            //         }
            //     }
            //     .chu_right_content {
            //         padding: 30px 0px;
            //         font-size: $fontSize;
            //         text-align: center;
            //         transform: translateY(-22px);
            //         img {
            //             width: 40px;
            //             height: 40px;
            //             transform: translateY(10px);
            //         }
            //     }
            //     span {
            //         font-size: $fontSize*1.5;
            //         text-align: center;
            //         display: block;
            //         transform: translateY(-18px);
            //         @media all and (max-width: 575px) {
            //             font-size: $fontSize;
            //         }
            //     }
            //     .chu_right_icon2 {
            //         text-align: right;
            //         margin-top: 5px;
            //         @media all and (max-width: 575px) {
            //             margin-top: -20px;
            //         }
            //         img {
            //             width: 40px;
            //             height: 40px;
            //         }
            //     }
            //     .chu_right_icon3 {
            //         display: inline-block;video
            //         position: absolute;
            //         top: 30px;
            //         left: 50%;
            //         transform: translateX(-50%);
            //         img {
            //             width: 40px;
            //             height: 40px;
            //         }
            //         p {
            //             font-size: 16px;
            //             // color: black;
            //             transform: translateY(-15px);
            //             display: inline-block;
            //         }
            //     }
            // }
        }
    }
    .chu_button {
        text-align: center;
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translateX(-50%);
        @media all and (min-width: 576px) and (max-width: 767px) {
            bottom: 10%;
        }
        @media all and (max-width: 575px) {
            bottom: 10%;
        }
    }
}