.section_res {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    z-index: 5;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    .container_res {
        position: relative;
        width: 800px;
        height: 500px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        z-index: 5;
        @include rwd(md_medium) {
            max-width: 700px;
            height: 400px;
        }
        @include rwd(md_small) {
            max-width: 500px;
            height: 300px;
        }
        .ic{
            position: absolute;
            display: inline-block;
            right: 20px;
            top: 50px;
            z-index: 10;
            .fas{
                cursor: pointer;
                font-size: 30px;
                color: black;
            }
        }
        .user {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            display: flex;
            .img_res {
                position: relative;
                width: 50%;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px;
                transition: 0.5s;
                .form {
                    transform: translateY(22px);
                    h2 {
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;
                        color: #555;
                    }
                    input {
                        position: relative;
                        width: 100%;
                        padding: 10px;
                        background: #f5f5f5;
                        color: #333;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        margin: 8px 0;
                        font-size: 14px;
                        letter-spacing: 1px;
                        font-weight: 300;
                    }
                    input[type="submit"] {
                        max-width: 100px;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: 0.5s;
                        @include rwd (md_medium){
                            max-width: unset;
                        }
                    }
                    select{
                        position: relative;
                        width: 100%;
                        padding: 10px;
                        background: #f5f5f5;
                        color: #333;
                        border: none;
                        margin: 8px 0;
                        font-size: 14px;
                        letter-spacing: 1px;
                        font-weight: 300;
                        max-width: 100px;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: 0.5s;
                        margin-right: 4px;
                        @include rwd (md_medium){
                            margin-right: 0;
                            max-width: 150px;
                        }
                    }
                    .learn {
                        position: relative;
                        margin-top: 20px;
                        // font-size: 12px;
                        letter-spacing: 1px;
                        // color: #555;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 16px;
                        a {
                            font-weight: 600;
                            text-decoration: none;
                            color: #677eff;
                        }
                    }
                }
            }
            .form_res {
                position: relative;
                width: 50%;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px;
                transition: 0.5s;
                .form{
                    h2 {
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;
                        color: #555;
                    }
                    input {
                        position: relative;
                        width: 100%;
                        padding: 10px;
                        background: #f5f5f5;
                        color: #333;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        margin: 8px 0;
                        font-size: 14px;
                        letter-spacing: 1px;
                        font-weight: 300;
                    }
                    input[type="submit"] {
                        max-width: 100px;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: 0.5s;
                    }
                    .loginuse{
                        width: 100%;
                        max-width: unset;
                        height: 38px;
                        margin-top: 10px;
                        border: 3px solid #DF7219;
                        border-radius: 0;
                        input[type="button"] {
                            background-color: transparent;
                            padding: 0;
                            cursor: pointer;
                            color: white;
                            font-weight: bold;
                            z-index: 3;
                            font-size: 24px;
                            margin: 0;
                            &:hover{
                                color: #DF7219;
                            }
                        }
                    }
                    .learn {
                        position: relative;
                        margin-top: 20px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 16px;
                        a {
                            font-weight: 600;
                            text-decoration: none;
                            color: #677eff;
                        }
                    }
                }
            }
            .form_res1{
                @include rwd(md_small){
                    width: 100%;
                }
            }
            .form_res2{
                @include rwd(md_medium){
                    padding: 40px 15px 40px 30px;
                    transform: translateY(-27px);
                }
            }
            .img_res1{  
                @include rwd(md_small) {
                    display: none;
                }
            }
            .img_res2{
                @include rwd(md_medium){
                    padding: 40px 30px 40px 15px;
                }
            }
        }
        .singupBx {
            pointer-events: none;
            .form_res {
                left: 100%;
            }
            .img_res {
                left: -100%;
            }
        }
        .singinBx {
            .form_res {
                left: 0;
            }
            .img_res {
                left: 0;
            }
        }
    }
    .container_res.act {
        .singupBx {
            pointer-events: initial;
            .form_res {
                left: 0;
            }
            .img_res {
                left: 0;
            }
        }
        .singinBx {
            .form_res {
                left: 100%;
            }
            .img_res {
                left: -100%;
            }
        }
    }
}


// @media (max-width: 991px) {
//     .section_res .container_res {
//         max-width: 800px;
//     }
//     .section_res .container_res .user .img_res {
//         width: 100%;
//     }
//     .section_res .container_res .user .form_res {
//         width: 100%;
//     }
// }