// // html,
// // body {
// //     width: 100%;
// //     height: 100%;
// // }
// #map {
//     width: 100%;
//     height: 100%;
// }
// .marker-cluster-small {
//     background-color: rgba(181, 226, 140, 0.6);
// }
// .marker-cluster-small div {
//     background-color: rgba(110, 204, 57, 0.6);
// }
// .marker-cluster-medium {
//     background-color: rgba(241, 211, 87, 0.6);
// }
// .marker-cluster-medium div {
//     background-color: rgba(240, 194, 12, 0.6);
// }
// .marker-cluster-large {
//     background-color: rgba(253, 156, 115, 0.6);
// }
// .marker-cluster-large div {
//     background-color: rgba(241, 128, 23, 0.6);
// }
// .marker-cluster {
//     background-clip: padding-box;
//     border-radius: 20px;
// }
// .marker-cluster div {
//     width: 30px;
//     height: 30px;
//     margin-left: 5px;
//     margin-top: 5px;
//     text-align: center;
//     border-radius: 15px;
//     font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
// }
// .marker-cluster span {
//     line-height: 30px;
// }
// /*-----------------------------*/
// .leaflet-popup-content p {
//     margin: 14px 0 0 0;
// }
// .leaflet-popup-content h1 {
//     color: #9B1E23;
// }
html,
body {
    width: 100%;
    height: 100%;
}

#map {
    // width: 70vw;
    height: 100%;
    margin: 0 auto;
}

// leaflet-marker-icon marker-cluster marker-cluster-medium leaflet-zoom-animated leaflet-interactive
.leaflet-pane .leaflet-marker-icon div {
    background-color: rgba(110, 204, 57, 0.6)!important;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6)!important;
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6)!important;
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6)!important;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: rgba(110, 204, 57, 0.6)!important;
}

.marker-cluster span {
    line-height: 30px;
}


/*-----------------------------*/

.leaflet-popup-content p {
    margin: 14px 0 0 0;
}

h1 {
    color: #9B1E23;
}

.leaflet-popup-content {
    width: 180px!important;
    img {
        width: 180px!important;
        height: 180px!important;
    }
    h1 {
        padding: 10px;
    }
    p {
        margin: 10px 0!important;
    }
}