body {
    position: relative;
}

header {
    // @include lineGradient ('T', 180deg, rgba(255, 234, 167, .2), rgba(255, 234, 167, .3));
    z-index: 999;
}

// .leaflet-popup {}
.den_banner {
    background-image: url(../image//den_image//den_friend2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    width: 100%;
    height: 500px;
    position: relative;
    .container {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        #den_banner_title {
            display: inline-block;
            padding: 20px;
            outline: 5px solid rgba(255, 255, 255, 1);
            outline-offset: -13px;
            width: 100%;
            text-align: center;
            height: 400px;
            background-color: rgba(223, 114, 25, 0.1);
            span {
                display: inline-block;
                font-size: $fontSize*1.5;
                padding: 30px;
                font-weight: $fontWeight_600;
                font-size: 36px;
                font-weight: 900;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #5f5f5f;
            }
            span:nth-child(1) {
                // // text-align: right;
                // // border-left: 10px solid #a40808;
                // ;
            }
            span:nth-child(2) {
                text-align: center;
            }
        }
        .den_search {
            padding: 30px 0px;
            // border: 1px solid red;
            display: none;
            .den_search_icon {
                margin: 0 auto;
                position: relative;
                width: 70%;
                // border: 1px solid blue;
                height: 50px;
                input {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }
                img {
                    padding: 5px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;
                    height: 100%;
                }
            }
            .den_search_icon2 {
                // border: 1px solid;
                margin: 15px auto;
                position: relative;
                width: 70%;
                p {
                    background-color: rgba(22, 22, 22, .1);
                    padding: 3px;
                    display: inline-block;
                    font-size: $fontSize*1.125;
                    text-decoration: underline;
                    margin: 0 5px;
                }
            }
        }
    }
}

.den_section {
    // border: 1px solid blue;
    margin-top: 20px;
    label {
        font-size: $fontSize*1.375;
        cursor: pointer;
        padding: 5px;
    }
    .den_wrapper {
        .den_gif {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30%;
            z-index: -66;
            img {
                width: 100%;
                height: 50%;
            }
        }
        .den_background_round {
            z-index: -60;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .den_container {
            max-width: 1280px;
            margin: 0 auto;
            padding: 30px;
            // border: 1px solid;
            .den_row {
                .den_title {
                    width: 100%;
                    .title_left {
                        margin-bottom: 30px;
                        h2:nth-child(1) {
                            background-color: #DF7219;
                            color: #ffffff;
                            cursor: pointer;
                            border: 0.1px solid #DF7219;
                            border-radius: 8px 8px 0px 0px;
                        }
                        h2:nth-child(2) {
                            background-color: white;
                            cursor: pointer;
                            color: #DF7219;
                            border: 0.1px solid #DF7219;
                            border-radius: 8px 8px 0px 0px;
                        }
                        h2 {
                            padding: 15px 40px;
                            margin-right: 5px;
                            background-color: $bgColor-style2;
                            cursor: pointer;
                        }
                    }
                    .title_right {
                        margin: 30px 0px;
                        text-align: right;
                        padding-right: 15%;
                        span {
                            font-size: $fontSize*2;
                            letter-spacing: 20px;
                        }
                    }
                }
                h2 {
                    display: inline-block;
                }
                .den_Condition_search {
                    display: flex;
                    .den_row {
                        flex: 0 0 15%;
                        .den_selection {
                            background-color: rgba(245, 222, 179, 0.3);
                            >h3 {
                                padding: 25px;
                                display: inline-block;
                            }
                            .den_res_type {
                                padding: 20px 10%;
                                text-align: center;
                                h3 {
                                    background-color: $bgColor-style2;
                                    display: inline-block;
                                    padding: 15px 20px;
                                    margin-bottom: 20px;
                                    font-weight: $fontWeight_600;
                                }
                                div {
                                    text-align: center;
                                    padding: 10px;
                                    cursor: pointer;
                                    border-radius: 10px;
                                    input {
                                        width: 20px;
                                        height: 25px;
                                        vertical-align: bottom;
                                        display: none;
                                        &:checked {
                                            background-color: rgba(245, 222, 179, 0.5);
                                        }
                                    }
                                    &:hover {
                                        box-shadow: 3px 3px 10px rgba(22, 22, 22, .3)!important;
                                        label {
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                                label {
                                    display: inline-block;
                                    width: 100%;
                                }
                            }
                            .den_cooking_style {
                                padding: 20px 10%;
                                text-align: center;
                                h3 {
                                    background-color: $bgColor-style2;
                                    display: inline-block;
                                    padding: 15px 20px;
                                    margin-bottom: 20px;
                                    font-weight: $fontWeight_600;
                                }
                                div {
                                    margin: 5px 0px;
                                    padding: 10px;
                                    text-align: center;
                                    cursor: pointer;
                                    border-radius: 10px;
                                    input {
                                        width: 20px;
                                        height: 25px;
                                        vertical-align: bottom;
                                        display: none;
                                    }
                                    &:hover {
                                        // border: 0.1px solid rgba(255, 255, 255, 0);
                                        box-shadow: 3px 3px 10px rgba(22, 22, 22, .3);
                                        label {
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                                label {
                                    display: inline-block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                #den_tab1 {
                    padding: 0px 10px;
                    display: block;
                    flex: 1 1 80%;
                    // max-width: 1000px;
                    width: 80%;
                    margin: 0 auto;
                    h3 {
                        padding: 5px 15px;
                        border-left: 6px solid $bgColor-style1;
                    }
                    hr {
                        border-top: 1px dashed #ccc;
                    }
                    .den_food_map {
                        border: 1px solid #ccc;
                        height: 700px;
                        position: relative;
                    }
                    .result_owl {
                        // width: 75vw;
                        background-color: rgba(255, 255, 255, 1);
                        margin: 0 auto;
                        .den_owl_row {
                            padding: 0 10px;
                            display: flex;
                            // margin: 50px 0;
                            text-align: center;
                            .den_nav_left {
                                flex: 0 0 5%;
                                align-self: center;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    cursor: pointer;
                                }
                            }
                            .den_content_range {
                                // overflow: scroll;
                                overflow: hidden;
                                margin-top: 10px;
                                .den_content {
                                    flex: 1 1 90%;
                                    display: flex;
                                    width: 800%;
                                    div {
                                        padding: 5px;
                                        display: none;
                                        display: inline-block;
                                        text-align: center;
                                        margin: 0 5px;
                                        max-width: 200px;
                                        position: relative;
                                        cursor: pointer;
                                        span {
                                            display: none;
                                        }
                                        p {
                                            border-radius: 5px;
                                            background-color: rgba(255, 225, 164, 1);
                                            font-size: 16px;
                                            text-align: center;
                                            padding: 5px;
                                        }
                                        img {
                                            width: 100%;
                                            height: 100px;
                                            display: block;
                                            cursor: pointer;
                                            object-fit: cover;
                                        }
                                        img:nth-child(7),
                                        img:nth-child(8),
                                        img:nth-child(9) {
                                            display: none;
                                        }
                                        h5 {
                                            display: none;
                                        }
                                        h6 {
                                            padding: 10px;
                                            position: absolute;
                                            top: 55%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            width: 96%;
                                            display: none;
                                            border: 0.1px solid rgba(255, 255, 255, 0.6);
                                            background-color: rgba(255, 255, 255, 0.6);
                                            ;
                                            &:hover {
                                                background-color: rgba(223, 114, 25, 0.8);
                                                border: 0.1px solid rgba(223, 114, 25, 0.8);
                                            }
                                        }
                                        &:hover {
                                            img {
                                                // filter: blur(1.5px);
                                                transform: scale(1.01);
                                            }
                                            h6 {
                                                display: block;
                                                cursor: pointer;
                                                font-weight: $fontWeight_600;
                                            }
                                            p {
                                                background-color: rgba(223, 114, 25, 0.5);
                                            }
                                        }
                                    }
                                }
                            }
                            .den_nav_right {
                                flex: 0 0 5%;
                                align-self: center;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .den_Fill_Information_wrapper {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        margin-top: 100px;
                        .den_Fill_Information {
                            flex: 0 1 45%;
                            text-align: center;
                            background-image: url(../image/den_image/den_friend.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: right;
                            .den_Information_title {
                                text-align: left;
                            }
                            form {
                                width: 100%;
                                display: inline-block;
                                padding: 20px;
                                div {
                                    width: 60%;
                                    // border: 1px solid;
                                    padding: 10px;
                                    display: flow-root;
                                    label {
                                        display: inline-block;
                                        line-height: 25px;
                                    }
                                    input {
                                        float: right;
                                        width: 60%;
                                        height: 30px;
                                    }
                                    select {
                                        float: right;
                                        width: 60%;
                                        height: 30px;
                                        option {}
                                    }
                                }
                            }
                        }
                        .den_friend_window {
                            flex: 0 1 45%;
                            margin-top: 50px;
                            background-image: url(../image/den_image/Illustrations_food1.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: right bottom;
                            // display: none;
                            .friend_title {
                                text-align: left;
                                h3 {
                                    display: inline-block;
                                    padding: 5px 15px;
                                }
                            }
                            .den_friend_box {
                                text-align: left;
                                overflow-y: scroll;
                                display: inline-block;
                                width: 40%;
                                // padding-top: 20px;
                                // border: 1px solid #ccc;
                                border-radius: 15px;
                                background-color: floralwhite;
                                div {
                                    padding: 10px 10px 10px 15%;
                                    img {
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50px;
                                    }
                                    input {
                                        width: 20px;
                                        height: 25px;
                                        margin-left: 5px;
                                        vertical-align: bottom;
                                        display: none;
                                    }
                                    label {
                                        margin-left: 30px;
                                        vertical-align: bottom;
                                        line-height: 50px;
                                    }
                                }
                            }
                        }
                    }
                    .den_button {
                        // text-align: center;
                        width: 13%;
                        margin: auto;
                        // border: 1px solid;
                        // margin: 15px;
                        text-align: center;
                        margin-top: 15px;
                        button {
                            @include btnBrown_6;
                        }
                    }
                }
                #den_tab2 {
                    flex: 1 1 80%;
                    display: none;
                    padding-left: 15px;
                    h3 {
                        padding: 15px;
                        background-color: rgba(223, 114, 25, 0.5);
                        ;
                    }
                    .den_foodGroup {
                        overflow-y: scroll;
                        margin: 25px 0px;
                        height: 1024px;
                        .den_eatGroup {
                            background-color: rgba(245, 222, 179, .4);
                            display: flex;
                            // border: 1px solid #cccccc;
                            align-items: center;
                            padding: 15px;
                            justify-content: center;
                            margin: 5px 0px;
                            outline: 2px solid white;
                            outline-offset: -10px;
                            border: 0.1px solid rgba(245, 222, 179, 0);
                            &:hover {
                                cursor: pointer;
                                background-color: rgba(245, 222, 179, .8);
                                border: 0.1px solid rgba(245, 222, 179, 1);
                            }
                            span {
                                font-size: $fontSize*1.5;
                                padding: 0 20px;
                            }
                            img {
                                width: 200px;
                                height: 200px;
                                border-radius: 100%;
                            }
                            .den_eatGroup_content {
                                padding-left: 20px;
                                flex: 1;
                                position: relative;
                                >div {
                                    // text-align: right;
                                    display: inline-block;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }
                                // border: 1px solid;
                                h3 {
                                    // background-color: white;
                                    padding: 10px;
                                    background-color: rgba(255, 255, 255, .1);
                                    display: inline-block;
                                }
                                h4 {
                                    display: inline-block;
                                    // color: $bgColor-style1;
                                }
                            }
                            .den_eatGroup_button {
                                align-self: flex-end;
                                padding-bottom: 15px;
                                button {
                                    @include btnBrown_5;
                                    // font-size: $fontSize*1.5;
                                    // padding: 5px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.den_box {
    // background: linear-gradient(45deg, #FFE1A4, white);
    // background-color: rgba(255, 225, 164, 1);
    background: linear-gradient(top, #FFE1A4, white);
    @include light-box-setting(90%, auto, absolute);
    box-shadow: 8px 10px 10px rgba(22, 22, 22, .5);
    display: none;
    // background-color: rgba(255, 255, 255, .9);
    z-index: 10001;
    position: fixed;
    overflow: auto;
    padding: 25px 15px;
    // box-shadow: 0px 0px 0px 10px #FFE1A4;
    border-radius: 10px;
    .leave_btn {
        position: relative;
        right: -90%;
        width: 50px;
        height: 50px;
        z-index: 99;
        cursor: pointer;
        .line1 {
            width: 80%;
            height: 8%;
            background-color: black;
            transform: translate(0%, 550%) rotate(45deg);
            margin: auto;
        }
        .line2 {
            width: 80%;
            height: 8%;
            background-color: black;
            transform: translate(0%, 450%) rotate(-45deg);
            margin: auto;
        }
    }
    .den_box_row {
        display: flex;
        position: relative;
        align-items: center;
        .box_row_left {
            flex: 1 1 50%;
            text-align: center;
            .main_img {
                padding: 10px;
                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            >img {
                width: 23%;
                height: 100px;
                display: inline-block;
                padding: 3px;
                object-fit: cover;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .box_row_right {
            flex: 1 1 50%;
            padding: 15px;
            // transform: translateX(-30px);
            span {
                @include box(70px, 8px);
                // @include borderT;
                text-align: center;
                display: inline-block;
                margin: 12px;
                padding: 5px 10px;
                font-size: 14px;
                background-color: #FFE1A4;
                border: 0.1px solid;
            }
            h2 {
                // border: 1px solid;
                color: $btn_color_n_r;
            }
            .den_box_msg {
                margin-top: 15px;
                p {
                    display: inline-block;
                    padding: 5px;
                    background-color: rgba(204, 204, 204, .4);
                }
            }
            .den_box_content {
                // padding: 10px;
                margin-top: 15px;
                p:nth-child(1) {
                    font-weight: $fontWeight_600;
                    margin-top: 5px;
                }
                p:nth-child(2) {
                    padding: 0 10px;
                    background-color: rgba(204, 204, 204, .5);
                }
                p {
                    line-height: $fontSize*2;
                    overflow: auto;
                    max-height: 300px;
                    position: relative;
                    font-size: 16px;
                }
            }
        }
    }
    .den_box_button {
        display: none;
        text-align: center;
        button {
            // @include btnRed;
        }
    }
}

.den_box2 {
    @include light-box-setting(90%, auto, absolute);
    // background: linear-gradient(45deg, #FFE1A4, white);
    // box-shadow: 8px 10px 10px rgba(22, 22, 22, .5);
    // background-color: rgba(255, 225, 164, 1);
    background: linear-gradient(top, #FFE1A4, white);
    display: none;
    // background-color: rgba(255, 255, 255, 1);
    z-index: 2000;
    position: fixed;
    overflow: auto;
    padding: 15px;
    border-radius: 10px;
    // box-shadow: 0px 0px 0px 10px $bgColor-style2;
    .leave_btn {
        position: relative;
        // top: 20px;
        right: -95%;
        width: 50px;
        height: 50px;
        z-index: 99;
        cursor: pointer;
        .line1 {
            width: 80%;
            height: 8%;
            background-color: black;
            transform: translate(0%, 550%) rotate(45deg);
            margin: auto;
        }
        .line2 {
            width: 80%;
            height: 8%;
            background-color: black;
            transform: translate(0%, 450%) rotate(-45deg);
            margin: auto;
        }
    }
    .den_box2_row {
        display: flex;
        align-items: center;
        position: relative;
        // width: 90%;
        margin: auto;
        .box2_row_left {
            flex: 1 1 50%;
            text-align: center;
            .main_img {
                padding: 10px;
                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            >img {
                width: 23%;
                height: 100px;
                display: inline-block;
                padding: 3px;
                object-fit: cover;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .box2_row_right {
            flex: 1 1 50%;
            padding-left: 20px;
            max-height: 500px;
            overflow: auto;
            // transform: translateX(-30px);
            div {
                padding: 10px 10px;
                margin: 10px 0px;
                background-color: rgba(204, 204, 204, .5);
                border-radius: 10px;
                h3 {
                    display: inline-block;
                    padding: 5px;
                }
                h4 {
                    padding: 5px;
                    display: inline-block;
                    // margin: 12px;
                    // padding: 5px 10px;
                    // font-size: 14px;
                    background-color: #88f59a;
                    border: 0.1px solid;
                    border-radius: 8px;
                    width: 70px;
                    text-align: center;
                }
                h6 {
                    display: inline-block;
                    margin: 12px;
                    padding: 5px 10px;
                    font-size: 14px;
                    background-color: #FFE1A4;
                    border: 0.1px solid;
                    border-radius: 8px;
                    width: 70px;
                    text-align: center;
                }
            }
        }
    }
    .denAllButton {
        position: relative;
        text-align: center;
        .den_box2_button {
            text-align: center;
            display: inline-block;
            margin-top: 15px;
            button {
                @include btnBrown_6;
                width: 150px;
                // border-radius: 15px 15px!important;
            }
        }
        .box_button_close {
            display: none;
            text-align: center;
            width: 40%;
            // border: 1px solid;
            // display: inline-block;
            margin-top: 15px;
            button {
                @include btnBlue_3;
                width: 150px;
            }
        }
    }
}

.den_box3 {
    @include light-box-setting(90%, auto, absolute);
    background: linear-gradient(top, #FFE1A4, white);
    // background-color: rgba(255, 225, 164, 1);
    display: none;
    // background-color: rgba(255, 255, 255, 1);
    z-index: 2000;
    position: fixed;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    .leave_btn {
        position: relative;
        right: -90%;
        width: 50px;
        height: 50px;
        z-index: 99;
        cursor: pointer;
        .line1 {
            width: 80%;
            height: 8%;
            background-color: black;
            transform: translate(0%, 550%) rotate(45deg);
            margin: auto;
        }
        .line2 {
            width: 80%;
            height: 8%;
            background-color: black;
            transform: translate(0%, 450%) rotate(-45deg);
            margin: auto;
        }
    }
    .den_box3_row {
        display: flex;
        align-items: center;
        position: relative;
        .box3_row_left {
            flex: 1 1 50%;
            text-align: center;
            .main_img {
                padding: 10px;
                img {
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
            >img {
                cursor: pointer;
                width: 23%;
                height: 100px;
                display: inline-block;
                padding: 3px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .box3_row_right {
            flex: 1 1 50%;
            padding-left: 20px;
            max-height: 500px;
            overflow: auto;
            >div {
                padding: 10px 10px;
                margin: 10px 0px;
                background-color: rgba(204, 204, 204, .5);
                border-radius: 10px;
                .collection {
                    display: inline-flex;
                    align-items: center;
                    float: right;
                    padding: 10px;
                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
                    span {
                        font-size: 24px;
                        padding: 0px 10px;
                    }
                }
                h3 {
                    display: inline-block;
                    // border: 1px solid;
                    // border: 1px solid blue;
                    padding: 5px;
                }
                h4 {
                    display: inline-block;
                    padding: 5px;
                }
                h6 {
                    display: inline-block;
                    margin: 12px;
                    padding: 5px 10px;
                    font-size: 14px;
                    background-color: #FFE1A4;
                    border: 0.1px solid;
                    border-radius: 8px;
                    width: 70px;
                    text-align: center;
                }
                .den_groupPeople {
                    background-color: rgba(255, 255, 255, .0);
                    margin: 5px 0px;
                    padding: 0;
                    h3 {
                        vertical-align: bottom;
                    }
                    p {
                        display: inline-block;
                        // margin: 5px;
                        padding: 5px 4px;
                        font-size: 14px;
                        background-color: #FFE1A4;
                        border: 0.1px solid;
                        border-radius: 8px;
                        width: 70px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .denAllButton3 {
        position: relative;
        text-align: center;
        // left: 50%;
        // width: 80%;
        // bottom: 60px;
        // transform: translateX(-50%);
        // text-align: right;
        // padding: 15px;
        .den_box3_button {
            text-align: center;
            width: 40%;
            // border: 1px solid;
            display: inline-block;
            margin-top: 15px;
            button {
                @include btnBrown_6;
                width: 150px;
                // border-radius: 15px 15px!important;
            }
        }
        .box_button_close {
            display: none;
            text-align: center;
            width: 40%;
            // border: 1px solid;
            // display: inline-block;
            margin-top: 15px;
            button {
                @include btnBlue_3;
                width: 150px;
            }
        }
    }
}

.box_background {
    width: 100%;
    height: 1000%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(128, 128, 128, .8);
    z-index: 1000;
}

.den_true_box_open,
.den_true_box_join {
    width: 30%;
    height: auto;
    border-radius: 15px;
    background-color: #ffe1a4;
    border: 2px solid rgba(22, 22, 22, 1);
    padding: 40px;
    line-height: 2rem;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    div {
        text-align: center;
        // border: 1px solid blue;
        span {
            color: black;
            font-size: 25px;
        }
        div {
            text-align: center;
            padding-top: 10px;
            button {
                @include btnBrown_6;
            }
        }
    }
}

.section_res {
    z-index: 9999;
    ;
}

@include rwd(md_desktop) {
    .den_box {
        .den_box_row {
            .box_row_right {
                padding: 15px;
                p {
                    max-height: 300px;
                    overflow: auto;
                }
            }
        }
    }
    .den_box2 {
        width: 90%;
        .den_box2_row {
            // align-items: flex-start;
            // padding: 9% 15px;
            .box2_row_right {
                // padding: 15px;
            }
        }
    }
    .den_box3 {
        width: 90%;
        .den_box3_row {
            .box3_row_right {}
        }
    }
    .den_selection {
        h3 {
            padding: 10px!important;
        }
    }
    .den_box {
        width: 80%;
    }
}

@include rwd(md_medium) {
    .den_section {
        .den_wrapper {
            .den_container {
                padding: 15px;
                .den_row {
                    .den_Condition_search {
                        .den_row {
                            .den_selection {
                                h3 {
                                    padding: 10px;
                                }
                                .den_res_type {
                                    padding: 20px 0px;
                                    text-align: center;
                                }
                                .den_cooking_style {
                                    padding: 20px 0px;
                                    text-align: center;
                                }
                            }
                        }
                        #den_tab1 {
                            #map {
                                // width: 80vw;
                            }
                        }
                        #den_tab2 {
                            .den_foodGroup {
                                .den_eatGroup {
                                    .den_eatGroup_content {
                                        div {
                                            right: -75px;
                                            h4 {
                                                font-size: 18px!important;
                                            }
                                        }
                                        h3 {
                                            padding: 5px;
                                            font-size: 16px!important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .den_content {
        width: 1500%!important;
    }
    .den_nav_right {
        margin-left: 5px;
    }
    .den_friend_box {
        width: 80%!important;
    }
    .den_box {
        width: 90%;
        height: 85vh;
        .den_box_row {
            flex-wrap: wrap;
            top: 0;
            transform: translateY(0px);
            padding: 15px;
            .box_row_left {
                flex: 1 1 100%;
                .main_img {
                    padding: 5px;
                    img {
                        width: 60%;
                    }
                }
                img {
                    width: 20%;
                }
            }
            .box_row_right {
                padding: 0;
                flex: 1 1 100%;
                h2 {
                    margin-top: 15px;
                }
            }
        }
    }
    .den_box2 {
        width: 90%;
        .den_box2_row {
            // align-items: flex-start;
            // padding: 15% 15px;
            .box2_row_right {
                // padding: 15px;
            }
            .box2_row_left {
                .box_button {
                    width: 49%;
                    // border: 1px solid red;
                }
                .box_button_close {
                    width: 49%;
                    // border: 1px solid green;
                }
            }
        }
    }
    .den_box3 {
        width: 90%;
        .den_box3_row {
            .box3_row_right {}
            .box3_row_left {
                .box_button {
                    width: 49%;
                }
                .box_button_close {
                    width: 49%;
                }
            }
        }
    }
    .den_box {
        width: 90%;
    }
}

@include rwd(md_small) {
    #den_banner_title {
        width: 100%!important;
    }
    .den_section {
        .den_wrapper {
            .den_container {
                padding: 0;
                .den_row {
                    .den_title {
                        .title_right {
                            padding: 0;
                            text-align: center;
                        }
                    }
                    .den_Condition_search {
                        flex-wrap: wrap;
                        .den_row {
                            flex: 1 1 100%;
                            .den_selection {
                                display: flex;
                                flex-wrap: wrap;
                                h3 {
                                    flex: 1 1 100%;
                                    width: 10px;
                                    display: none;
                                }
                                .den_res_type {
                                    display: flex;
                                    padding: 0px;
                                    text-align: center;
                                    align-items: center;
                                    h3 {
                                        font-size: 21px;
                                        width: 10px;
                                        margin: 0;
                                        margin-right: 15px;
                                    }
                                    label {
                                        font-size: 18px;
                                        line-height: 25px;
                                    }
                                    input {
                                        height: 20px;
                                    }
                                }
                                .den_cooking_style {
                                    display: flex;
                                    padding: 0px;
                                    text-align: center;
                                    align-items: center;
                                    h3 {
                                        font-size: 21px;
                                        width: 10px;
                                        margin: 0;
                                        margin-right: 15px;
                                    }
                                    label {
                                        font-size: 18px;
                                        line-height: 25px;
                                    }
                                    input {
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                    #den_tab1 {
                        padding: 0;
                        >h3 {
                            margin-top: 25px;
                        }
                        #map {
                            margin: 0 auto;
                            width: 95vw;
                        }
                        .result_owl {
                            width: 95vw;
                            .den_owl_row {
                                .den_nav_left {}
                                .den_content_range {
                                    .den_content {
                                        width: 1500%;
                                        // display: none;
                                    }
                                }
                                .den_nav_right {}
                            }
                        }
                        .den_Fill_Information_wrapper {
                            flex-wrap: wrap;
                            .den_Fill_Information {
                                flex: 1 1 100%;
                                .den_Information {
                                    background-color: rgba(245, 245, 245, .6);
                                    border: 1px solid #ccc;
                                    div {
                                        width: 100%;
                                    }
                                }
                            }
                            .den_friend_window {
                                flex: 1 1 100%;
                                margin-top: 0;
                                .friend_title {
                                    margin-top: 30px;
                                }
                                .den_friend_box {
                                    width: 100%;
                                    margin-top: 15px;
                                }
                            }
                        }
                        .button {
                            width: 28%;
                        }
                    }
                    #den_tab2 {
                        padding: 0px;
                        .den_foodGroup {
                            .den_eatGroup {
                                display: flex;
                                flex-direction: column;
                                span {
                                    display: none;
                                }
                                .den_eatGroup_content {
                                    padding: 0;
                                    flex: 1 1 80%;
                                    text-align: center;
                                    margin-top: 15px;
                                    div {
                                        top: -80%;
                                        right: -15%;
                                    }
                                }
                                .den_eatGroup_button {
                                    button {
                                        padding: 5px;
                                    }
                                }
                                img {
                                    width: 150px;
                                    height: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .den_box {
        width: 90%;
        height: 85vh;
        .den_box_row {
            // padding: 5% 15px;
            flex-wrap: wrap;
            top: 0;
            transform: translateY(0px);
            padding: 15px;
            .box_row_left {
                flex: 1 1 100%;
                .main_img {
                    padding: 5px;
                    img {
                        width: 100%;
                    }
                }
                img {
                    width: 24%;
                }
            }
            .box_row_right {
                padding: 0;
                flex: 1 1 100%;
                h2 {
                    margin-top: 15px;
                }
            }
        }
    }
    .den_box2 {
        width: 95%;
        height: 90%;
        overflow-y: auto;
        .leave_btn {
            right: -90%;
        }
        .den_box2_row {
            flex-wrap: wrap;
            .box2_row_right {
                flex: 1 1 100%;
                padding: 0;
            }
            .box2_row_left {
                flex: 1 1 100%;
            }
        }
    }
    .den_box3 {
        width: 95%;
        height: 90%;
        overflow-y: auto;
        .den_box3_row {
            flex-wrap: wrap;
            // padding-bottom: 15%;
            .box3_row_right {
                // padding: 15px;
                flex: 1 1 100%;
                padding: 0;
            }
            .box3_row_left {
                flex: 1 1 100%;
                .box_button {
                    width: 49%;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                }
                .box_button_close {
                    width: 49%;
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                }
            }
        }
    }
}

@include rwd(md_cellphone) {
    .den_banner {
        .container {
            #den_banner_title {
                width: 100%!important;
                span {
                    font-size: 24px!important;
                }
            }
        }
    }
    .den_section {
        .den_wrapper {
            .den_container {
                padding: 0;
                .den_row {
                    .den_title {
                        .title_right {
                            padding: 0 15px;
                            text-align: left;
                        }
                    }
                    .den_Condition_search {
                        flex-wrap: wrap;
                        .den_row {
                            flex: 1 1 100%;
                            .den_selection {
                                display: flex;
                                flex-wrap: wrap;
                                h3 {
                                    flex: 1 1 100%;
                                    width: 10px;
                                    display: none;
                                }
                                .den_res_type {
                                    display: flex;
                                    padding: 0px;
                                    text-align: center;
                                    align-items: center;
                                    h3 {
                                        font-size: 18px!important;
                                        width: 10px;
                                        margin: 0;
                                        padding: 10px;
                                        margin-right: 13%;
                                    }
                                    label {
                                        font-size: 18px;
                                        line-height: 25px;
                                    }
                                    input {
                                        height: 20px;
                                    }
                                }
                                .den_cooking_style {
                                    display: flex;
                                    padding: 0px;
                                    text-align: center;
                                    align-items: center;
                                    h3 {
                                        font-size: 18px!important;
                                        width: 10px;
                                        margin: 0;
                                        padding: 10px;
                                    }
                                    label {
                                        font-size: 18px;
                                        line-height: 25px;
                                    }
                                    input {
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                    #den_tab1 {
                        padding: 0;
                        >h3 {
                            margin-top: 25px;
                        }
                        #map {
                            margin: 0 auto;
                            width: 95vw;
                        }
                        .result_owl {
                            width: 95vw;
                            .den_owl_row {
                                .den_nav_left {}
                                .den_content_range {
                                    .den_content {
                                        width: 3000%;
                                        div {
                                            margin: 0 15px;
                                        }
                                    }
                                }
                                .den_nav_right {}
                            }
                        }
                        .den_Fill_Information_wrapper {
                            margin-top: 50px;
                            flex-wrap: wrap;
                            .den_Fill_Information {
                                flex: 1 1 100%;
                                .den_Information {
                                    background-color: rgba(245, 245, 245, .6);
                                    border: 1px solid #ccc;
                                    div {
                                        width: 100%;
                                        label {
                                            font-size: 18px!important;
                                        }
                                    }
                                }
                            }
                            .den_friend_window {
                                flex: 1 1 100%;
                                margin-top: 0;
                                .friend_title {
                                    margin-top: 30px;
                                }
                                .den_friend_box {
                                    width: 100%;
                                    margin-top: 15px;
                                    div {
                                        label {
                                            font-size: 18px!important;
                                        }
                                    }
                                }
                            }
                        }
                        .den_button {
                            width: 50%;
                        }
                        .button {
                            width: 28%;
                        }
                        .den_food_map {
                            height: 450px;
                        }
                    }
                    #den_tab2 {
                        padding: 0px;
                        .den_foodGroup {
                            .den_eatGroup {
                                display: flex;
                                flex-direction: column;
                                span {
                                    display: none;
                                }
                                .den_eatGroup_content {
                                    padding: 0;
                                    flex: 1 1 80%;
                                    text-align: center;
                                    margin-top: 15px;
                                    div {
                                        top: -107%;
                                        right: -2%;
                                    }
                                    h3 {
                                        font-size: 18px!important;
                                    }
                                }
                                .den_eatGroup_button {
                                    button {
                                        padding: 5px;
                                    }
                                }
                                img {
                                    width: 150px;
                                    height: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .den_box {
        padding: 15px;
        width: 90%;
        height: 85vh;
        .leave_btn {
            right: -85%;
        }
        .den_box_row {
            // padding: 5% 15px;
            flex-wrap: wrap;
            top: 0;
            transform: translateY(0px);
            // padding: 15px;
            .box_row_left {
                flex: 1 1 100%;
                .main_img {
                    padding: 5px;
                    img {
                        width: 100%;
                    }
                }
                img {
                    width: 23%;
                    height: 70px;
                }
            }
            .box_row_right {
                padding: 0;
                flex: 1 1 100%;
                h2 {
                    margin-top: 15px;
                }
            }
        }
    }
    .den_box2 {
        width: 95%;
        height: 90%;
        overflow-y: auto;
        .leave_btn {
            right: -85%;
        }
        .den_box2_row {
            flex-wrap: wrap;
            .box2_row_right {
                flex: 1 1 100%;
                padding: 0;
                h3 {
                    font-size: 18px!important;
                }
                h4 {
                    font-size: 16px!important;
                }
            }
            .box2_row_left {
                flex: 1 1 100%;
                .main_img {
                    padding: 0px;
                    img {
                        height: 70%;
                    }
                }
            }
        }
    }
    .den_box3 {
        width: 95%;
        height: 90%;
        overflow-y: auto;
        .den_box3_row {
            flex-wrap: wrap;
            // padding-bottom: 15%;
            .box3_row_right {
                // padding: 15px;
                flex: 1 1 100%;
                padding: 0;
                h3 {
                    font-size: 18px!important;
                }
                h4 {
                    font-size: 16px!important;
                }
            }
            .box3_row_left {
                flex: 1 1 100%;
                .main_img {
                    padding: 0;
                }
                img {
                    height: 70px;
                }
            }
        }
    }
}