body{
    .banner_share{
        .banner_bg{
        background-image: url("../image/12.jpg");
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5%;
        background-attachment: fixed;
            .text{
                width: 90%;
                height: 400px;
                margin-top: 50px;
                margin-left: 5%;
                display: inline-block;
                // letter-spacing: 50px;
                color: rgb(95, 95, 95);
                text-decoration: none;
                text-align: center;
                // opacity: 0.75;
                padding-top: 160px;
                // padding: 20px;
                outline: 5px solid white;
                outline-offset: -13px;
                background-color: rgba(223, 114, 25, 0.1);
                h1{
                    font-weight: 900;
                    background-color: white;
                    display: inline-block;
                    padding-right: 28px;
                    padding: 30px 20px 30px 40px;
                    letter-spacing: 20px;
                    margin-top: 0;
                    color: black;
                }
            }
        }
    }
    .btnCust {
        /*自訂按鈕*/
        // width: 105px;
        // height: 105px;
        // border: unset;
        // font-size: 16px;
        // color: #1e1e1e;
        // font-weight: bold;
        // text-align: center;
        // line-height: 130px;
        z-index: 1;
        position: fixed;
        right: 5%;
        bottom: 10%;
        // display: inline-block;
        // border-radius: 50%;
        // background-image: url("../image/19.png");
        // background-size: contain;
        // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        transition: filter 0.1s;
        animation: flutter 0.5s cubic-bezier(0.04, 0.49, 0.94, 0.44) alternate infinite;
        cursor: pointer;
        img{
            width: 100px;
        }
    }
    @keyframes flutter {
        from {
            transform: translateY(5px);
        }
        to {
            transform: translateY(-10px);
        }
    }
    .btnCust:hover {
        filter: brightness(1.05);
    }
    section{
        .container{
            .col-md-12 {
                padding: 0;
                margin: 0;
                border: 0;
            }
            .tool_btn {
            /* border: 1px solid red; */
            margin: 0 auto;
            font-size: 18px;
            margin-top: 80px;
            margin-bottom: 80px;
            margin-left: 1.3%;
            /* display: inline-block; */
                button {
                margin-right: 1%;
                background-color: #DF7219;
                color: white;
                padding: 20px 35px;
                border: 0;
                outline: 0;
                cursor: pointer;
                border: 0.1px solid #DF7219;
                border-radius: 8px 8px 0px 0px;
                margin-top: 2%;
                }
                button:hover {
                    background-color: #ffffff;
                    color: #DF7219;
                    border: 0.1px solid #DF7219;
                }
                select{
                    padding: 20px 25px;
                    border-radius: 8px 8px 0px 0px;
                    background-color: #ffffff;
                    color: #DF7219;
                    border: 0.1px solid #DF7219;
                    margin-top: 2%;
                }
            }
            .col-md-4 {
                display: inline-block;
                margin-bottom: 5%;
                .content {
                    border: 1px solid rgb(206, 206, 206);
                    @include lineGradient(50%,345deg,#F2AB39,transparent);
                    border-radius: 10px;
                    box-shadow:  0 0 20px #979797;
                    width: 95%;
                    .ord{
                        h4{
                            margin: 5% 3% 5% 5%;
                            font-weight: 500;
                            border-bottom: 1px solid orangered;
                            display: inline-block;
                            color: orangered;
                        }
                        h3{
                            margin: 0 3% 5% 5%;
                            font-weight: 900;
                            width: 290px;
                            text-overflow : ellipsis;
                            // border-bottom: 1px solid orangered;
                            // display: inline-block;
                            color: orangered;
                        }

                    }
                    .head {
                        margin-top: 5%;
                        .user_img_block {
                            margin-left: 5%;
                            display: inline-block;
                            img {
                            width: 35px;
                            display: inline-block;
                            vertical-align: middle;
                            }
                        }
                        .user_name {
                            /* border: 1px solid red; */
                            display: inline-block;
                            h5 {
                                padding-left: 15px;
                                font-size: 18px;
                                display: inline-block;
                                margin-top: 10%;
                            }
                        }
                        .time {
                            margin: 0;
                            /* width: 55%; */
                            /* display: inline-block; */
                            /* border: 1px solid green; */
                            height: 50px;
                            float: right;
                            padding-right: 5%;
                            
                            h5 {
                                margin-top: 10%;
                            }
                        }
                    }
                    .btn_modal{
                        max-width: 100%;
                        margin-bottom: 10%;
                        // cursor: pointer;
                    }
                    .btn_modal img {
                        max-width: 340px;
                        height: 250px;
                        width: 100%;
                        object-fit: cover;
                    }
                    .foot {
                        margin-bottom: 5%;
                        margin-top: 30px;
                        .collect_block {
                        padding-left: 10%;
                        margin-bottom: 5%;
                        display: inline-block;
                        cursor: pointer;
                            .heartIcon{
                                display: inline-block;
                                img {
                                    width: 25px;
                                    cursor: pointer;
                                }
                            }
                            .collect_sum {
                                padding-left: 10px;
                                display: inline-block;
                                h5 {
                                    margin-top: 10%;
                                }
                            }
                        }
                        .msg_block {
                            /* display: inline-block; */
                            float: right;
                            padding-right: 10%;
                            img {
                                width: 25px;
                            }
                            .msg_sum {
                                padding-left: 10px;
                                display: inline-block;
                            }h5 {
                                margin-top: 10%;
                            }
                        }
                    }
                    .more{
                        margin: 0 0 10% 35%;
                        color: orangered;
                        background-color: white;
                        padding: 3% 10%;
                        font-size: 16px;
                        display: inline-block;
                        cursor: pointer;
                    }
                    .more:hover{
                        color:white;
                        background-color:  orangered;
                    }
                }
            }
        }
    }
    //lightbox
    .overlay.-on {
        /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
        opacity: 1;
        z-index: 1;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, .5);
        opacity: 0;
        z-index: -1;
        article{
            background: linear-gradient(#FFE1A4,white);
            max-width: 90%;
            border-radius: 10px;
            box-shadow: 0 0 10px #ddd;
            padding: 3%;
            height: 75vh;
            overflow: auto;
            margin: 0 5%;
            z-index: 200;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            margin-top: 13%;
            // transform: translate(-50%, -50%);
            .btn_modal_close {
                float: right;
                cursor: pointer;
                img {
                    display: inline-block;
                    width: 30px;
                }
            }
            .msg-left {
                display: inline-block;
                h4 {
                    display: inline-block;
                    color: orangered;
                    padding: 0;
                    border-bottom: 1px solid orangered;
                }
                h2 {
                    color: orangered;
                    padding: 0 2%;
                    font-weight: 900;
                    margin-top: 3%;
                }
                .img_block22 {
                    width: 90%;
                    margin: 5%;
                    display: inline-block;
                    img {
                        display: inline-block;
                        max-width: 100%;
                    }
                }
                .left_info{
                    margin: 0 5%;
                    .user_block{
                        margin: 0 20% 0 0;
                        display: inline-block;
                        .user_img_block {
                        display: inline-block;
                            img {
                                width: 35px;
                                display: inline-block;
                            }
                        }.user_name {
                            display: inline-block;
                            h5 {
                                display: inline-block;
                            }
                        }
                    }
                    .collect_block {
                        display: inline-block;
                        cursor: pointer;
                        .heartIcon{
                            display: inline-block;
                            img {
                                width: 35px;
                                cursor: pointer;
                            }
                        }
                        .collect_sum {
                            display: inline-block;
                        }
                    }
                    button{
                        border: 0;
                        float: right;
                        font-weight: 900;
                        font-size: 18px;
                    }
                }
                p {
                    display: inline-block;
                    text-align: justify;
                    padding: 3%;
                    border-width:3px;
                    border-style:dashed;
                    border-color:#FFAC55;
                    padding:5px;
                    line-height: 25px;
                    margin: 5% 5%;
                    width: 90%;
                    height: auto;
                    overflow: auto;
                }
            }
            }
            @media screen and (max-width: 992px){
                article{
                    margin-top: 20%;
                    .msg-left{
                        p{
                            height: auto;
                        }
                    }.msg-right{
                        height: auto;
                        overflow: inherit;
                        .msgin {
                            height: auto;
                        }
                    }
                }
            }
            @media screen and (max-width: 700px){
                article{
                    margin-top: 30%;
                }
            }
            @media screen and (max-width: 480px){
                .banner_share{
                    .banner_bg{
                        .text{
                            h1{
                                font-size: 20px !important;
                            }
                        }
                    }
                }
                .btnCust {
                    position: fixed;
                    bottom: 70%;
                }
                article{
                    margin-top: 45%;
                }
                .col-md-12.mood{
                    margin: 30% 0;
                    h2{
                        font-size: 16px;
                    }
                }
            }
            .msg-right {
                vertical-align: top;
                margin: 5% 0 0 5%;
                height: 550px;
                overflow: auto;
                h3 {
                    display: inline-block;
                    padding: 2% 0;
                    font-weight: 900;
                    color: orangered;
                }
                .msgin {
                    margin: 0 5% 5% 0;
                    overflow: auto;
                    .msgpost {
                        border: 1px solid grey;
                        border-style:dashed;
                        border-color:#FFAC55;
                        border-width:3px;
                        padding:5px;
                        padding: 2%;
                        margin-bottom: 5%;
                        background-color: #FFE1A4;
                        .right_info{
                            border-bottom: 1px solid grey;
                            padding: 0 0 2% 0;
                            margin: 0 0 2% 0;
                            .user_block{
                                display: inline-block;
                                .user_img_block {
                                display: inline-block;
                                    img {
                                        width: 35px;
                                        display: inline-block;
                                    }
                                }.user_name {
                                    display: inline-block;
                                    h5 {
                                        display: inline-block;
                                    }
                                }
                            }
                            button{
                                border: 0;
                                float: right;
                                font-weight: 900;
                                background-color:  #FFE1A4;
                                font-size: 18px;
                            }
                            .collect_block {
                                display: inline-block;
                                .heartIcon{
                                    display: inline-block;
                                    img {
                                        width: 35px;
                                        cursor: pointer;
                                    }
                                }
                                .collect_sum {
                                    display: inline-block;
                                }
                            }
                            input{
                                float: right;
                                margin: 1% 0 0 0;
                            }
                        }
                        p {
                            margin: 0;
                            line-height: 25px;
                        }
                    }
                }#nuan_LeaveMessage{ 
                    textarea {
                        outline: none;
                        width: 95%;
                        height: 80px;
                        margin-bottom: 1%;
                    }
                    button {
                        padding: 0;
                        border: 0.1px solid #DF7219;
                        display: inline-block;
                        outline: none;
                        background-color: #DF7219;
                        color: #FFFFFF;
                        width: 150px;
                        height: 50px;
                        border-radius: 15px 15px;
                        /* font-family: fontFamily; */
                        /* font-size: fontSize * 1.125; */
                        text-align: center;
                        line-height: 50px;
                        /* font-weight: fontWeight_500; */
                        cursor: pointer;
                    }
                    button:hover {
                        background-color: white;
                        color: #DF7219;
                        border: 0.1px solid #DF7219;
                        line-height: 50px;
                    }
                }
            }
        }
    .newMoodLightBox {
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, .5);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 200;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .newMoodBlock {
            padding: 2%;
            margin: 0 auto;
            width: 90%;
            position: relative;
            border-radius: 10px;
            background: linear-gradient(#FFE1A4, white);
            align-items: center;
            #closeNewMoodBtn {
                width: 50px;
                height: 50px;
                cursor: pointer;
                position: absolute;
                right: 0px;
                top: 0px;
                transition: all 0.8s;
                span.line1, span.line2 {
                    display: inline-block;
                    width: 40px;
                    height: 5px;
                    background-color: #646464;
                    border-radius: 8px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
                span.line1 {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                span.line2 {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            h2 {
                color: orangered;
                font-weight: bolder;
                text-align: center;
                margin: 20px;
            }
            #newMoodForm {
                width: 100%;
                margin: 0 auto;
                .moodBox {
                    font-size: 16px;
                    align-items: center; 
                    width: 100%;
                    margin: 0 auto;
                    h1 {
                        font-size: 20px;
                        color: black;
                        font-weight: bolder;
                        margin: 10px 0;
                    }
                    .picWrap {
                        border: 1px solid #646464;
                        width: 100%;
                        height: 265px;
                        margin-bottom: 10px;
                        text-overflow : ellipsis;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        img {
                            height: 100%;
                        }
                    }
                    input {
                        text-overflow: ellipsis;
                    }
                    select {
                        width: 100%;
                        height: 30px;
                        color: #646464;
                    }
                    textarea.moodTitle {
                        width: 100%;
                        height: 35px;
                        font-size: 18px;
                    }
                    textarea {
                        width: 100%;
                        height: 110px;
                        font-size: 18px;
                    }
                }
            }
            #newMoodPostBtn {
                margin: 20px 40%; 
            }
            .btnPink {
                padding: 0;
                border: 0.1px solid #DF7219;
                display: inline-block;
                outline: none;
                background-color: #DF7219;
                color: #FFFFFF;
                width: 150px;
                height: 50px;
                border-radius: 15px 15px;
                /* font-family: $fontFamily; */
                font-size: 16px;
                text-align: center;
                line-height: 50px;
                font-weight: 600;
                cursor: pointer;
            }
            .btnPink:hover {
                background-color: white;
                color: #DF7219;
                border: 0.1px solid #DF7219;
                line-height: 50px;
                /* filter: brightness(1.05); */
            }
        }
    }
    @media screen and (max-width: 992px){
        .newMoodLightBox{
            .newMoodBlock{
                h2{
                font-size: 24px !important;
                }
            }
        }
    }
    @media screen and (max-width: 350px){
        .newMoodLightBox{
            .newMoodBlock {
                height: 500px;
                overflow: auto;
            }
        }
    }
    .gototop2{
        width:99%;
        cursor:pointer;
        .goto-top{
            margin-left:-100%;
            position:fixed;
            bottom:20px;
            right:50px;
            img{
                width: 40px;
                height: 40px;
                opacity: 0.8;
            }
        }
    }
}

