* {
    .togray {
        filter: brightness(55%);
    }
    .used {
        color: wheat;
        background-color: black;
    }
    .single_bread {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 15px;
    }
    label {
        font-size: 20px;
    }
    #leavemessage::-webkit-scrollbar-track {
        background-color: #f2c479;
    }
    //捲軸寬度
    #leavemessage::-webkit-scrollbar {
        width: 6px;
        background-color: black;
    }
    //捲軸本體顏色
    #leavemessage::-webkit-scrollbar-thumb {
        background-color: #bb6573;
    }

    .single_small::-webkit-scrollbar-track {
        width: 4px;
        background-color: #f2c479;
    }
    //捲軸寬度
    .single_small::-webkit-scrollbar {
        height:  6px;
        background-color: black;
    }
    //捲軸本體顏色
    .single_small::-webkit-scrollbar-thumb {
        background-color: #bb6573;
    }
}

body {
    position: relative;
    
}
body::-webkit-scrollbar-track {
    width: 4px;
    background-color: #f2c479;
}
//捲軸寬度
body::-webkit-scrollbar {
    width:  12px;
    background-color: black;
}
//捲軸本體顏色
body::-webkit-scrollbar-thumb {
    background-color: #bb6573;
}

// body{
section {
    // font-size: $fontSize!important;
    .banner_rest_sear{
        .banner_bg{
        background-image: url("../image/20.jpg");
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5%;
        background-attachment: fixed;
            .txt{
                width: 90%;
                height: 400px;
                margin-top: 50px;
                margin-left: 5%;
                display: inline-block;
                // letter-spacing: 50px;
                color: rgb(95, 95, 95);
                text-decoration: none;
                text-align: center;
                // opacity: 0.75;
                padding-top: 160px;
                // padding: 20px;
                outline: 5px solid white;
                outline-offset: -13px;
                background-color: rgba(223, 114, 25, 0.1);
                h1{
                    font-weight: 900;
                    background-color: white;
                    display: inline-block;
                    padding-right: 28px;
                    padding: 30px 0;
                    margin-top: 0;
                }
            }
        }
    }
    .single_content {
        #name {
            margin-bottom: 24px;
            border-left: 8px solid #9B1E23;
            padding-left: 8px;
            margin-left: 15px;
        }
        .single_attr {
            display: inline;
            #kind {
                @include box(60px, 8px);
                // @include borderT;
                text-align: center;
                display: inline-block;
                margin: 12px;
                padding: 5px 10px;
                font-size: 14px;
                background-color: #FFE1A4;
                border: 0.1px solid;
            }
            #style {
                @include box(60px, 8px);
                // @include borderT;
                text-align: center;
                display: inline-block;
                margin: 12px;
                padding: 5px 10px;
                font-size: 14px;
                background-color: #FFE1A4;
                border: 0.1px solid;
            }
        }
        #introduction {
            display: flex;
            flex-direction: row;
            @include box(100%, 0);
            .container {
                .single_restaurant {
                    @include lineGradient(50%,345deg,#F2AB39,transparent);
                    border-radius: 24px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-top: 30px;
                    #imgs {
                        margin-bottom: 20px;
                        margin-left: -15px;
                        margin-right: -15px;
                        @media (min-width: 710px) and (max-width: 1200px) {
                            margin-right: 15px;
                        }
                        .single_large {
                            padding-left: 15px;
                            padding-right: 15px;
                            @include box(600px, 0);
                            height: 600px;
                            #mainimg {
                                display: inline-block;
                                @include box(600px, 24px);
                            }
                        }
                        .single_small {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            margin-bottom: 40px;
                            padding-left: 15px;
                            padding-right: 15px;
                            width: 100%;
                            overflow: auto;
                            @include box(600px, 0);
                            @media screen and(max-width: 652px) {
                                padding-left: 0;
                            }
                            @media screen and (max-width:710px) {
                                justify-content: start;
                                padding-right: 15px;
                            }
                            @media (min-width:711px) and (max-width:992px) {
                                @include box(100%, 24px);
                            }
                            @media screen and (max-width:992px) {
                                margin: 0 auto !important;
                                padding-bottom: 0px;
                            }
                            @media screen and (max-width:1200px) {
                                justify-content: start;
                                margin: 0 auto;
                            }
                            
                            .single_small_img {
                                margin-right: 8px;
                                cursor: pointer;
                                @include box(140px, 24px);
                                @media (min-width: 710px) and (max-width: 1200px) {
                                    @include box(100%, 24px);
                                }
                            }
                        }
                    }
                    #detail {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .single_item{
                            margin-top: 16px;
                        }
                        #rname{
                            line-height: 36px !important;
                            padding-left: 16px;
                        }
                        #rint {
                            line-height: 36px !important;
                            padding-left: 16px;
                            height: 180px;
                            overflow: auto;
                        }
                        #week {
                            padding-left: 15px;
                            li {
                                line-height: 32px !important;
                            }
                        }
                        .single_address{
                            margin-top: 16px;
                        }
                        .single_tel{
                            margin-top: 16px;
                        }
                        .single_togroup {
                            margin: 40px 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            .btnRed {
                                // @include btnBlue_3;
                                // @include btn ($btn-width,$btn-height,$use_color,$bd_radius);
                            }
                            .btnBlue {
                                // @include btnPurple_4;
                            }
                        }
                    }
                }
            }
        }
        h4 {
            margin: 24px;
        }
        .single_messagecontrol{
            margin: 0 15px;
            #leavemessage {
                @include box(1200px, 0);
                border-left: 6px solid #f2c479;
                border-top: 6px solid #f2c479;
                border-radius: 24px 0 0 0;
                background-color: #F2AB39;
                height: 400px;
                overflow: auto;
                .single_L {
                    @include box(90%, 24px);
                    background-color: white;
                    margin: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    img {
                        border-radius: 50%;
                        // width: 40px;
                        // height: 40px;
                        margin: 20px;
                    }
                    i {
                        position: absolute;
                        right: 10px;
                        bottom: 0;
                        cursor: pointer;
                    }
                    .time{
                        position: absolute;
                        top: 4px;
                        right: 12px;
                    }
                    .name{
                        position: absolute;
                        top: 4px;
                        right: 12px;
                    }
                }
            }
        }
        .single_messaging {
            background-color: white;
            // @include borderT;
            border: 6px solid #f2c479;
            border-radius: 0 0 0 24px;
            display: flex;
            flex-direction: row;
            position: relative;
            img {
                margin: 20px;
                border-radius: 50%;
            }
            #send {
                height: 60px;
                textarea {
                    position: absolute;
                    resize: none;
                    border: none;
                    height: 32px;
                    left: 102px;
                    width: calc(100% - 200px);
                    top: 50%;
                    transform: translate(0, -50%);
                    background-color: transparent;
                    border-bottom: 1px solid black;
                }
                button {
                    // display: inline-block;
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translate(0, -50%);
                    // @include btnYellowS;
                    width: 80px !important;
                    height: 40px !important;
                    line-height: 40px !important;
                }
            }
        }
    }
    #report{
        @include light-box-setting(100%,500px,absolute);
        display: none;
        border-radius: 24px;
        max-width: 500px;
        position: fixed;
        background-color: gray;
        z-index: 100;
        .single_reportback{
            position: absolute;
            background-color: white;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            padding: 16px;
            border-radius: 24px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2 {
                text-align: center;
                margin-bottom: 8px;
            }
            select {
                display: inline;
                border: 1px solid black;
                margin-bottom: 16px;
            }
            textarea {
                width: 100%;
                height: 200px;
                border: 1px solid black;
            }
            button {
                display: inline-block;
                width: 80px;
                height: 28px;
                border-radius: 12px;
                position: absolute;
                bottom: 8px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .single_cancel{
                position: absolute;
                top: 16px;
                right: 16px;
                font-size: 36px;
                cursor: pointer;
            }
        }
    }
}

.jun_back {
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
    opacity: .4;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

// }