// 網頁5種風格背景顏色
$bgColor-style1: #C53E67; //磚紅
$bgColor-style2: #FFE1A4; //粉黃
$bgColor-style3: #FFB2A3; //粉橘
$bgColor-style4: #A3C2FF; //粉藍
$bgColor-style5:#6BB973; //粉綠
//btn顏色正常
$btn_color_n_y:#FFC855;
$btn_color_n_r:#FF7a85;
$btn_color_n_b:#5985ff;
//btn顏色hover
$btn_color_n_yh:#FFE1A4;
$btn_color_n_rh:#FFB2A3;
$btn_color_n_bh:#A3C2FF;
// 網頁5種風格字體顏色
$textColor-style1: #ffffff;
$textColor-style2: #000000;
// $textColor-style2: rgb(89, 204, 69);
// $textColor-style3: rgb(57, 141, 197);
// $textColor-style4: rgb(234, 250, 12);
// $textColor-style5: rgb(209, 21, 209);
// $textColor-style6: rgb(255, 0, 0);