body {
    font-size: $fontSize;
    font-weight: $fontWeight_400;
    color: $color;
    background-color: $bgColor;
    letter-spacing: $letterSpace;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    h1 {
        // font-size: round($fontSize * 2.25); //36px 首頁標題
    }
    h2 {
        font-size: round($fontSize * 1.875)!important; //30px footer 字
    }
    h3 {
        //  1.導覽頁
        //  2.內頁標題
        //  3.按鈕大小
        //  4.首頁副標
        //  5.內頁項目
        font-size: round($fontSize * 1.5)!important; //24px
    }
    h4 {
        font-size: round($fontSize * 1.125)!important; //18px  標籤內頁
    }
    h5 {
        font-size: round($fontSize * 1)!important; //16px 內容字(標準字大小)
    }
    h6 {
        font-size: round($fontSize * 0.875)!important; //14px 帳號輸入錯誤，請重新輸入
    }
    font-family: $fontFamily;
}