//font 變數
$fontFamily: 'Microsoft JhengHei',
// 'Noto Serif TC',
sans-serif;
$fontSize: 16px;
$color: rgb(0, 0, 0);
$lineH :1.5;
$letterSpace: 1px;
// 字體粗細
$fontWeight_400: 400;
$fontWeight_500: 500;
$fontWeight_600: 600;
$fontWeight_700: 700;


//rwd 斷點
// $me1200: 1200px;
// $md991: 991px;
// $md768: 768px;
// $medium_991: 991px;
// $medium: 920px;
// $small: 721px;
//顏色變數
// $btn-color: ( primary: rgb(255, 0, 0));
$bgColor: rgb(255, 255, 255);